<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style>
      .msgFooter { margin-top: 10px; }
    </style>
    {{!-- <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
    ></script>
    <script src="src/globalFunctions/index.js" type="text/javascript"></script> --}}

  </head>
  <body>
    <div>
      <h4>Please click on the link below to reset your password.</h4>
      <p><a href="{{baseUrl}}/{{urlRoute}}/{{token}}">Reset Password</a></p>

    </div>
  </body>
  <footer>
    <div class="msgFooter">Chat with you in the polls!</div>
    <div>The Poldit Team</div>
    <img
      src="https://res.cloudinary.com/rahmad12/image/upload/v1624921500/PoldIt/App_Imgs/PoldIt_logo_only_agkhlf.png"
      width="120px"
      height="auto"
    /></footer>
</html>