<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password Notification</title>
    <style>
      .msgFooter { margin-top: 10px; }
    </style>
  </head>
  <body>
    <div>
      {{!-- <h4>You have a new Poldit {{notificationType}} notification on {{date}} EST!</h4> --}}
      <h4>Your password was successfully changed.</h4>
      <p>If you did not make this change, please follow this link:
        <a href="{{baseUrl}}/ForgotPassword">Forgot Password</a> and follow the
        instructions to reset the password.</p>
    </div>
  </body>
  <footer>
    <div class="msgFooter">Chat with you in the polls!</div>
    <div>The Poldit Team</div>
    <img
      src="https://res.cloudinary.com/rahmad12/image/upload/v1624921500/PoldIt/App_Imgs/PoldIt_logo_only_agkhlf.png"
      width="120px"
      height="auto"
    /></footer>
</html>